<div class="d-flex flex-row bd-highlight mb-3">
    <div class="form-froup row" style="width: 60%;">
        <label class="col-sm-2 col-form-label">Employee ID</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" [(ngModel)]="EmployeeId" placeholder="Enter Employee ID">
        </div>

        <label class="col-sm-2 col-form-label">Employee Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" [(ngModel)]="EmployeeName" placeholder="Enter Employee Name">
        </div>

        <label class="col-sm-2 col-form-label">Department</label>
        <div class="col-sm-10">
            <select class="form-control" [(ngModel)]="Department">
                <option>--Select--</option>
                <option *ngFor="let depName of DepartmentsList">
                    {{depName}}
                </option>
            </select>
        </div>
        <div>&nbsp;</div>

        <label class="col-sm-2 col-form-label">Date of joining</label>
        <div class="col-sm-10">
            <input type="date" [(ngModel)]="DateOfJoining">
        </div>
    </div>
</div>

<button (click)="addEmployee()" class="btn btn-primary">
    Add
</button>